<div class="container">
  <div class="row">
    <div class="col">
      <h1>Usuarios</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre de usuario</th>
            <th class="text-center">Fecha de nacimiento</th>
            <th class="text-center">Edad</th>
            <th>Dirección</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let user of users">
            <tr>
              <td>{{ user?.name }}</td>
              <td class="text-center">{{ user?.fecha_nacimiento | date }}</td>
              <td class="text-center">{{ user?.edad }} años</td>
              <td>Calle {{ user?.domicilio?.domicilio }} No. Ext. {{ user?.domicilio?.numero_exterior }}, Col. {{ user?.domicilio?.colonia }}, C.P. {{ user?.domicilio?.cp }}, {{ user?.domicilio?.ciudad }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
